DB_HOST=db # ¡IMPORTANTE! Cambia localhost por 'db' si usas docker-compose
DB_USER=venix_user
DB_PASSWORD=your_db_password # Reemplaza con la contraseña de tu base de datos
DB_NAME=venix_db

MYSQL_ROOT_PASSWORD=your_mysql_root_password # Una nueva contraseña para el usuario root de MySQL en Docker